*{
    box-sizing: border-box;
}
.wrapper{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0 0 0.8rem 0.4rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}
.list, .view{
    height: 80vh;
    display: grid;
}
.list{
    padding: 1rem;
    grid-template-rows: 0.6fr 9.4fr;
}
.view{
    grid-template-rows: 0.8fr 8.4fr 0.8fr;
    background-color: #F8EFBA;
    border-radius: 0.5rem;
}
.addFriends{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    outline: none;
    margin-bottom: 1rem;
}
.addFriends:focus { 
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.nameField{
    background-color: #01a3a4;
    border-radius: 0 0.5rem 0 0;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}
.msgBlock{
    padding: 1rem;
    overflow-y: auto;
}
.msgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.chatter_mob{
    display: none;
}
.display{
    display: inherit;
}
@media screen and (max-width: 800px){
    .chatter_mob{
        display: inherit;
    }
    .list, .view{
        height: 90vh;
    }
    .view{
        display: none;
    }
    .wrapper{
        grid-template-columns: 1fr;
        margin-top: 0;
        box-shadow: none;
        border-radius: 0;
    }
    .nameField{
        border-radius: 0;
    }
}