.placeForm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flash{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.4rem;
    border-radius: 0.2rem;
    text-align: center;
}