.friend{
    padding: 0.5rem;
    margin: auto;
    display: block;
    background-color: transparent;
    width: 100%;
    border: none;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
}
.friend:nth-child(even){
    background-color: #F8EFBA;
}